	.logo img{
		position:relative;
		z-index:200;
	}
	.slides_container {
		width:960px;
		overflow:hidden;
		position:relative;
		height:338px;
	}
	.slides_container a {
		width:960px;
		display:block;
	}
	
	.slides_container a img {
		display:block;
	}
	
	.pagination {
		position:relative;
		top:-20px;
		z-index:102;
		margin:0 auto 0;
		width:217px;
	}
	
	.pagination li {
		float:left;
		margin:0 1px;
		list-style:none;
		margin-right:5px;
	}
	
	.pagination li a {
		display:block;
		width:12px;
		height:0;
		padding-top:12px;
		background-image:url(../images/site/pagination.png);
		background-position:0 0;
		float:left;
		overflow:hidden;
		border:none;
		text-decoration:none;
	}
	
	.pagination li.current a {
		background-position:0 -13px;
	}
	
	#slides .next,#slides .prev {
		position:absolute;
		top:150px;
		width:88px;
		height:44px;
		display:block;
		z-index:101;
	}
	
	#slides .next {
		left:893px;
	}
	
	.slider{
		height:338px;
		position:relative;
		top:-43px;
	}
	
	.slider .span12{
		height:338px;
	}
	
	.passoapasso{
		height:357px;
		border-bottom:1px solid #9a9d9a;
		background-color:#f9f9f9;
	}
	
	.instrucoes{
		margin-left:20px;
	}
	
	.quemja{
		height:350px;
		border-bottom:1px solid #9a9d9a;
		background-color:#d9e4e4;
		background-image:url(../images/site/bg-quemja.png);
	}
	
	.titquemja{
		margin:60px 0 0 40px;
		float:left;
	}
	
	.imgsquemja{
		margin:60px 0 0 20px;
	}
	
	.imgsquemja img{
		margin:0 0 20px 20px;
	}