	/* inicio font-face para o site */
	@font-face {
		font-family: 'UniversLTStd-BoldCn';
		src: url('../fonts/universltstdboldcn.eot');
		src: url('../fonts/universltstdboldcn.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/universltstdboldcn.woff') format('woff'),
				 url('../fonts/universltstdboldcn.ttf') format('truetype'),
				 url('../fonts/universltstdboldcn.svg#universltstdboldcn') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gabriel-Sans-Cond-Light';
		src: url('../fonts/gabrielsanscondlight.eot');
		src: url('../fonts/gabrielsanscondlight.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/gabrielsanscondlight.woff') format('woff'),
				 url('../fonts/gabrielsanscondlight.ttf') format('truetype'),
				 url('../fonts/gabrielsanscondlight.svg#gabrielsanscondlight') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
				font-family: 'UniversLTStd-Cn';
				src: url('../fonts/universltstdcn.eot');
				src: url('../fonts/universltstdcn.eot?#iefix') format('embedded-opentype'),
						 url('../fonts/universltstdcn.woff') format('woff'),
						 url('../fonts/universltstdcn.ttf') format('truetype'),
						 url('../fonts/universltstdcn.svg#universltstdcn') format('svg');
				font-weight: normal;
				font-style: normal;
		}
	/*fim font-face */
	
	.logo img{
		position:relative;
		z-index:200;
	}
	.slides_container {
		width:960px;
		overflow:hidden;
		position:relative;
		height:338px;
	}
	.slides_container a {
		width:960px;
		display:block;
	}
	
	.slides_container a img {
		display:block;
	}
	
	.pagination {
		position:relative;
		top:-20px;
		z-index:102;
		margin:0 auto 0;
		width:217px;
	}
	
	.pagination li {
		float:left;
		margin:0 1px;
		list-style:none;
		margin-right:5px;
	}
	
	.pagination li a {
		display:block;
		width:12px;
		height:0;
		padding-top:12px;
		background-image:url(../images/site/pagination.png);
		background-position:0 0;
		float:left;
		overflow:hidden;
		border:none;
		text-decoration:none;
	}
	
	.pagination li.current a {
		background-position:0 -13px;
	}
	
	#slides .next,#slides .prev {
		position:absolute;
		top:210px;
		width:88px;
		height:44px;
		display:block;
		z-index:101;
	}
	
	#slides .next {
		left:873px;
	}
	
	.slider{
		height:338px;
		position:relative;
	}
	
	.slider .span12{
		height:338px;
	}
	
	.produtos{
		position:relative;
	}
	
	.produtos .produto{
		cursor:pointer;
	}
	
	.produtoInfo{
		position:relative;
		background-color:#e1e1e1;
		margin-top:77px;
		padding-top:60px;
	}
	
	.row.login{
		position:relative;
		background-color:#e1e1e1;
		margin-top:77px;
		padding-top:60px;
	}
	
	.row.login label{
		font-family:'UniversLTStd-BoldCn', Arial, Helvetica, sans-serif !important;
		font-size:16px;
		color:#2e4544;
		text-shadow:2px 2px #CCC;
		width: 50px;
	}
	
	.row.login h1{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
		margin-left:20px;
		font-size:24px;
		color:#2e4544;
		text-shadow:2px 2px #CCC;
	}
	
	.row.login .titPagina{
		margin-bottom:10px;
		margin-left:10px;
	}
	
	.row.login .titPagina .titulo{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
		margin-left:20px;
		font-size:24px;
		color:#2e4544;
		float:left;
		text-shadow:2px 2px #CCC;
	}
	
	.row.login .titPagina .subtitulo{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
		font-size:17px;
		color:#2e4544;
		float:left;
		text-shadow:2px 2px #CCC;
	}
	
	.row.login .span8, .row.login .span11{
		margin-left:20px;
	}
	
	.row.login input[type="text"], .row.login input[type="password"], .row.login select{
		width:250px;
		height:30px;
		border:1px solid #2e4544;
		border-radius:0 !important;
	}
	
	.row.login textarea{
		width:250px;
		height:100px;
		border:1px solid #2e4544;
		border-radius:0 !important;
	}
	
	.row.login input[type="submit"]{
		width:150px;
		height:52px;
		text-align:center;
		background-image:url(../images/site/btn-login.png);
		background-color:transparent;
		position:relative;
		top:-10px;
		left:100px;
		color:#FFF;
		text-transform:uppercase;
		font-size:14px;
		border:none !important;
		border-radius:0 !important;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
	}
	
	.row.login .fecharPedido .enviarContato{
		width:150px;
		height:52px;
		text-align:center;
		background-image:url(../images/site/btn-login.png);
		background-color:transparent;
		position:relative;
		left:0px;
		top:0px;
		margin-bottom:30px;
		color:#FFF;
		text-transform:uppercase;
		font-size:14px;
		border:none !important;
		border-radius:0 !important;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
	}
	
	.btn-comprar #comprar{
		width:150px;
		height:52px;
		text-align:center;
		background-image:url(../images/site/btn-login.png);
		background-color:transparent;
		position:relative;
		border:none !important;
		border-radius:0 !important;
		display:block;
		color:#FFF;
		text-transform:uppercase;
		font-size:14px;
		text-decoration:none;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
	}
	
	.boxprodutos .comprar{
		width:319px;
		height:132px;
		background-image:url(../images/site/bg-btn-conectar.png);
		position:relative;
	}
	
	.boxprodutos .comprar .loginInsta{
		float:left;
		margin-top:28px;
		margin-left:215px;
	}
	
	.boxprodutos .comprar .loginFace{
		float:left;
		margin-top:28px;
		margin-left:10px;
	}
	
	.boxprodutos .txtbox{
		position:relative;
		margin:20px 0;
	}
	
	.boxprodutos span{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;	
		font-weight:lighter;
		color:#2e4544;
		font-size:14px;
	}
	
	.boxprodutos .thumbs{
		width:180px;
		height:180px;
		margin:30px 0 0 20px;
		overflow-y:visible;
		overflow-x:hidden;
	}
	
	.boxprodutos .thumbs .thumbProduto{
		width:75px;
		height:75px;
		border:1px solid #059692;
		float:left;
		margin:10px 0 0 10px;
	}
	
	.boxprodutos .thumbs .thumbProduto img{
		display:block;
	}
	
	.boxprodutos .descricaobox{
		margin:20px 10px 0 0;
	}
	
	.produtoInfo .span4{
		width:255px !important;
		margin:0 0 0 15px;
	}
	
	.produtoInfo .span8{
		width:665px !important;
		padding-left:15px;
		border-left:1px solid #99a3a2;
	}
	
	.produtoInfo .titProduto{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
		font-size:22px;
		color:#2e4544;
		text-transform:uppercase;
		text-shadow:2px 2px #CCCCCC;
	}
	
	.produtoInfo .fotoProduto{
		border:2px solid #2e4544;
	}
	
	.produtoInfo .descProduto{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
		font-size:14px;
		color:#2e4544;
		margin: 10px 0;
	}
	
	.comocomprar{
		background-color:#f9f9f9;
		position:relative;
		margin:130px 0 20px 0;
	}
	
	.row.comprar{
		float:right;
		margin:0 20px 40px 0;
	}
	
	.passoapasso{
		border-bottom:1px solid #9a9d9a;
		background-color:#f9f9f9;
	}
	
	.passoapasso .span12{
		padding:20px 0;
	}
	
	.dica{
		padding:20px 0;
	}
	
	.listaFotos .fotos{
		margin-bottom:40px;
	}
	
	.instrucoes{
		margin-left:20px;
	}
	
	.quemja{
		height:350px;
		border-bottom:1px solid #9a9d9a;
		background-color:#d9e4e4;
		background-image:url(../images/site/bg-quemja.png);
	}
	
	.fotos{
		height:150px;
		width:640px;
		overflow-y:visible;
		overflow-x:hidden;
		background:#ffffff;
		border:2px solid #2E4544;
		padding:0 0 10px 5px;
	}
	
	#selecaoFotos.fotos{
		height:100px;
	}
	
	#selecaoFotosTampa.fotos{
		height:60px;
	}
	
	.fotos .containerQuadFotoGrd{
		width:100px;
		height:100px;
		margin:20px 0 0 20px;
		float:left;
	}
	
	.fotos .containerQuadFotoGrd img{
		width:100px;
		height:100px;
		cursor:pointer;
	}
	
	.fotos .containerLarFotoGrd{
		width:100px;
		height:100px;
		margin:20px 0 0 20px;
		overflow:hidden;
		text-align:center;
		float:left;
	}
	
	.fotos .containerLarFotoGrd img{
		height:100px;
		cursor:pointer;
		max-width:none !important;
		position:relative;
		left:50%;
	}
	
	.fotos .containerAltFotoGrd{
		width:100px;
		height:100px;
		margin:20px 0 0 20px;
		overflow:hidden;
		text-align:center;
		float:left;
	}
	
	.fotos .containerAltFotoGrd img{
		width:100px;
		cursor:pointer;
	}
	
	#selecaoFotos.fotos .containerLarFoto, #selecaoFotosTampa.fotos .containerLarFoto, #selecaoFotos.fotos .containerAltFoto, #selecaoFotosTampa.fotos .containerAltFoto, #selecaoFotos.fotos .containerQuadFoto, #selecaoFotosTampa.fotos .containerQuadFoto{
		width:50px;
		height:50px;
		margin:10px 0 0 10px;
		border:1px dashed #BEBEBE;
		overflow:hidden;
		text-align:center;
		float:left;
	}
	
	#selecaoFotos.fotos .containerLarFoto img, #selecaoFotosTampa.fotos .containerLarFoto img{
		height:50px;
		cursor:pointer;
		max-width:none !important;
	}
	
	#selecaoFotos.fotos .containerAltFoto img, #selecaoFotosTampa.fotos .containerAltFoto img{
		width:50px;
		cursor:pointer;
	}
	
	#selecaoFotos.fotos .containerQuadFoto img, #selecaoFotosTampa.fotos .containerQuadFoto img{
		width:50px;
		height:50px;
		cursor:pointer;
	}
	
	#selecaoFotos.fotos .spaceFoto, #selecaoFotosTampa.fotos .spaceFoto{
		width:50px;
		height:50px;
		margin:10px 0 0 10px;
		border:1px dashed #BEBEBE;
		float:left;
	}
	
	.titquemja{
		width:135px;
		height:240px;
		background:url(../images/site/quem-ja.png);
		margin:60px 0 0 40px;
		float:left;
	}
	
	.imgsquemja{
		margin:60px 0 0 20px;
	}
	
	.imgsquemja img{
		margin:0 0 20px 20px;
	}
	
	.boxprodutos{
		height:300px;
		padding-top:20px;
		background:#FFF;
		background-image:url(../images/site/bg-box-produtos.jpg);
		background-repeat:no-repeat;
		position:relative;
	}
	
	.boxprodutos .fechar{
		float:right;
		margin-right:20px;
		cursor:pointer;
		width:14px;
		height:14px;
		background-image:url(../images/site/btn-fechar.jpg);
	}
	
	.footer{
		height:250px;
		background-image:url(../images/site/bg-footer.png);
		margin: -20px 0 0 0;
	}
	
	.fatiafooter{
		position:relative;
		top:-1px;
		left:20px;
		width:24px;
		height:250px;
		float:left;
		background:url(../images/site/fatia-footer.png) no-repeat;
	}
	
	.frasefooter{
		position:relative;
		margin:10px 0 10px 210px;
	}
	
	.logofooter{
		margin:10px 0 0 30px;
		width:153px;
		padding:40px 0 0 3px;
		float:left;
		background:url(../images/site/logo-footer.png) no-repeat;
	}
	
	.copyrights{
		color:#FFF;
		font-size:10px;
		font-family: Arial, Helvetica, sans-serif;
		margin-left:30px;
	}
	
	.logofooter span{
		color:#FFF;
		font-size:14px;
		font-family: 'Gabriel-Sans-Cond-Light', Arial, Helvetica, sans-serif;
		font-weight:lighter;
	}
	
	.logo{
		margin:0;
		float:left;
	}
	
	.topo{
		margin:0 0 -43px 0;
		float:left;
	}
	
	.topo .menu{
		margin:0;
		float:right;
	}
	
	.topo .menu.login u{
		float:right;
		font-size:10px;
	}
	
	.painel{
		margin:60px 0 30px 0;
	}
	
	.painel .conexao{
		border:2px solid #2E4544;
		margin-right:20px;
		padding:15px;
	}
	
	.painel .conexao.insta{
		background:url(../images/site/ico-instagram.png) no-repeat 225px 5px #E1E1E1;
	}
	
	.painel .conexao.fb{
		background:url(../images/site/ico-facebook.png) no-repeat 225px 5px #E1E1E1;
	}
	
	.painel .conexao a{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;	
		font-size:14px;
		color:#2E4544;
		text-decoration:underline;
	}
	
	.painel .conexao img{
		width:50px;
		height:50px;
		border:1px solid #2E4544;
	}
	
	.painel .conexao .span2{
		margin-top:5px;
	}
	
	.painel .conexao .span2 span{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;	
		font-size:14px;
		color:#2E4544;
		font-weight:bold;
	}
	
	.painel .conexao .span2 a{
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;	
		font-size:12px;
		color:#2E4544;
		text-decoration:underline;
	}
	
	.footer .menu{
		margin:0;
		float:left;
	}
	
	#fecharPedido label{
		width:130px;
	}
	
	.contOpcaoModelo{
		width:220px;
		padding:10px;
		border:2px solid #bebebe;
		margin-top:5px;
	}
	.contOpcaoModelo.active{	
		background-color:#dce7e7;
		border:2px solid #069f9b;
	}
	
	.contCorModelo{
		width:220px;
		padding:10px;
		margin-top:5px;
	}
	
	.contCorModelo .corProd{
		float:left;
		text-align:center;
		margin-right:5px;
	}
	
	.contCorModelo .corProd span{
		font-size:12px;
		color:#2e4544;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
	}
	
	.contCorModelo .boxCorProd{
		width:36px;
		height:36px;
		border:3px solid #bebebe;
		cursor:pointer;
	}
	
	.contCorModelo .boxCorProd.active{
		border:3px solid #069f9b;
	}
	
	.boxNrFotosTampa{
		float:left;
		border:2px solid #bebebe;
		width:100px;
		height:16px;
		padding-top:1px;
		text-align:center;
		cursor:pointer;
		margin-left:10px;
		position:relative;
		top:-4px;
	}
	
	.boxNrFotosTampa.active{
		background-color:#dce7e7;
		border:2px solid #069f9b;
	}
	
	.boxNrFotosTampa span{
		font-size:11px;
		font-weight:bold;
		color:#2e4544;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
	}
	
	.titOpcaoCompra{
		font-size:17px;
		color:#000000;
		font-weight:lighter;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
	}
	
	.descOpcaoCompra{
		font-size:17px;
		color:#2e4544;
		font-weight:lighter;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
	}
	
	.titProduto.tampa{
		float:left;
	}
	
	.carrinho .table td{
		border-bottom:1px solid #2e4544 !important;
	}
	
	.carrinho .table td .imgCarrinho{
		width:110px;
		height:83px;
	}
	
	.carrinho .table tr:last-child td{
		border-bottom:none;
	}
	
	.carrinho .table .input-append input[type="text"]{
		height:19px;
		border:none;
	}
	
	.carrinho .table .infosProd{
		float:left;
		margin-top:15px;
		margin-left:10px;
	}
	
	.carrinho .table .infosProd .nomeProd{
		font-size:26px;
		color:#2e4544;
		font-weight:lighter;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
	}
	
	.carrinho .table .infosProd .nomeModelo{
		font-size:17px;
		color:#2e4544;
		font-weight:lighter;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
	}
	
	.carrinho .table .remProd{
		float:right;
		margin-right:20px;
		width:14px;
		height:14px;
		margin-top:27px;
	}
	
	.carrinho .table .valorProd{
		margin-top:25px;
	}
	
	.carrinho .table .valorProd span{
		font-size:17px;
		color:#000000;
		font-weight:lighter;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
	}
	
	.carrinho .table .descCep{
		font-size:15px;
		color:#2e4544;
		font-weight:lighter;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
	}
	
	.row.login .linkPagamento{
		font-size:15px;
		color:#2e4544;
		font-weight:lighter;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		text-decoration:underline;
		text-transform:uppercase;
		text-shadow:2px 2px #CCC;
	}
	
	.carrinho .table .inputCep{
		float:left;
		width:126px !important;
		height:28px !important;
	}
	
	.carrinho .table .btnCalculaCep{
		float:left;
		cursor:pointer;
	}
	
	.row.login .btnDir{
		width:150px;
		height:39px;
		text-align:center;
		background-image:url(../images/site/btn-dir.png);
		background-color:transparent;
		padding-top:13px;
		float:right;
		position:relative;
		top:-20px;
		right:30px;
		color:#FFF;
		text-transform:uppercase;
		font-size:14px;
		border:none !important;
		border-radius:0 !important;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
		display:block;
		cursor:pointer;
	}
	
	.row.login .btnEsq{
		width:150px;
		height:39px;
		text-align:center;
		background-image:url(../images/site/btn-esq.png);
		background-color:transparent;
		padding-top:13px;
		float:left;
		position:relative;
		top:-20px;
		left:30px;
		color:#FFF;
		text-transform:uppercase;
		font-size:14px;
		border:none !important;
		border-radius:0 !important;
		font-family:'UniversLTStd-Cn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
		display:block;
		cursor:pointer;
	}
	
	.row.login .btnEsq:hover, .row.login .btnDir:hover{
		text-decoration:none;
	}
	
	.fecharPedido .field{
		float:left;
		margin-right:15px;
	}
	
	.fecharPedido .dados{
		border-bottom:1px solid #99a3a2;
		width:920px;
	}
	
	/*Classes para o menu*/
	.menu .nav {
    	list-style: none outside none;
    	position: relative;
    	float: left;
        margin-left: 3px;
        z-index: 2;
	}
	
	.topo .menu .nav li a {
		height:15px;
		padding:30px 10px;
	}
	
	.topo .menu .nav li a.logado {
		height:20px;
		padding:26px 15px 29px;
	}
	
	.topo .menu .nav li a.contador {
		height:20px;
		padding:26px 10px 29px;
		text-align:center;
	}
	
	.footer .menu .nav li a {
		height:20px;
		padding:20px 10px;
	}
	
	.menu .nav li {display:block; float:left;}
	
	.menu .nav li .imgUser {width:30px;}
	
	.menu .nav li a {
		display:block;
		color:#FFFFFF;
		border-left:1px solid #304948;
		text-decoration:none;
		font-size:12px;
		text-transform:uppercase;
	}
	.menu .nav li a.last {
		border-right:1px solid #304948;
	}
	.menu .nav li a.active {
		background:url(../images/site/bg-btn-menu.png);
	}
	.menu .nav li a span{
		font-family:'UniversLTStd-BoldCn', Arial, Helvetica, sans-serif !important;
		font-weight:lighter;
	}
	
	.menuSocial .nav {
    	list-style: none outside none;
    	position: relative;
    	z-index: 2;
	}
	.menuSocial .nav li {
		display:block;
		height:38px;
		float:left;
		margin-right:5px;
	}
	.menuSocial .nav li a {
		display:block;
		height:38px;
		width:38px;
	}
	.menuSocial .nav li a.facebook {
		background:url(../images/site/fb.png);
	}
	.menuSocial .nav li a.twitter {
		background:url(../images/site/twitter.png);
	}
	.menuSocial .nav li a.instagram {
		background:url(../images/site/instagram.png);
	}
	.menuSocial .nav li a.pinterest {
		background:url(../images/site/pinterest.png);
	}
	.menuSocial .nav li a.mail {
		background:url(../images/site/mail.png);
	}
	
	/*Fim das classes para o menu*/
